nodered/flows.json
[{"id":"4c3d12fd.031e5c","type":"tab","label":"Project","disabled":false,"info":""},{"id":"64280a6c.6ad9b4","type":"tab","label":"IoTService-01","disabled":false,"info":""},{"id":"92fd949e.a00d78","type":"tab","label":"IoTService-02 (Origin)","disabled":false,"info":""},{"id":"aa35ec2d.b49b3","type":"tab","label":"IoTService","disabled":false,"info":""},{"id":"a7407eed.e4695","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bb0eec73.7a2e6","type":"tab","label":"Flow 1 (Test)","disabled":false,"info":""},{"id":"d977f9f9.817368","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a10f47fb.0bc498","type":"mqtt-broker","z":"","name":"35.187.240.179","broker":"35.187.240.179","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"61a258f4.17b758","type":"mqtt-broker","z":"","name":"MQTT_Q","broker":"35.197.147.237","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8d8e61b.9c93ca","type":"ui_group","z":"","name":"Total","tab":"36998b14.0c3c74","order":1,"disp":true,"width":"6","collapse":false},{"id":"b7e059bd.7dc778","type":"ui_group","z":"","name":"Table 1","tab":"36998b14.0c3c74","order":2,"disp":true,"width":"6","collapse":false},{"id":"36998b14.0c3c74","type":"ui_tab","z":"","name":"Factory","icon":"dashboard","disabled":false,"hidden":true},{"id":"6bb01050.fe42a","type":"mqtt-broker","z":"","name":"MyMQTT","broker":"34.70.144.167","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e5db5a39.476938","type":"ui_group","z":"","name":"Control","tab":"886b2191.5e564","order":1,"disp":true,"width":"6","collapse":false},{"id":"a170a45e.95e1c8","type":"ui_group","z":"","name":"Display","tab":"886b2191.5e564","order":2,"disp":true,"width":"6","collapse":false},{"id":"e168c54b.a4c9d8","type":"gauth","z":""},{"id":"886b2191.5e564","type":"ui_tab","z":"","name":"MyMachine","icon":"dashboard","disabled":true,"hidden":true},{"id":"1938c2a2.f8c46d","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0e3f53","baseFont":"Century Gothic,CenturyGothic,AppleGothic,sans-serif","edited":false,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Project Theme 1","default":"#4B7930","baseColor":"#58a52c","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#58a52c","edited":true},"page-titlebar-backgroundColor":{"value":"#317718","edited":true},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#921616","edited":true},"group-textColor":{"value":"#27540d","edited":true},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#1fb22e","edited":true},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"86c9dd1c.45446","type":"mqtt-broker","z":"","name":"35.198.201.6","broker":"35.198.201.6","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f764e53c.53b5d8","type":"mqtt-broker","z":"","name":"MyMQTT","broker":"34.70.144.167","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bdb8bfc2.1577c","type":"ui_group","z":"","name":"Control","tab":"845d7ff4.fcacd","order":1,"disp":true,"width":"6","collapse":false},{"id":"60399256.6ba23c","type":"ui_group","z":"","name":"Display","tab":"845d7ff4.fcacd","order":2,"disp":true,"width":"6","collapse":false},{"id":"1e245788.2c0538","type":"gauth","z":""},{"id":"845d7ff4.fcacd","type":"ui_tab","z":"","name":"MyMachine","icon":"dashboard","disabled":true,"hidden":true},{"id":"fa9ea743.426598","type":"ui_group","z":"","name":"Table 2","tab":"36998b14.0c3c74","order":4,"disp":true,"width":"6","collapse":false},{"id":"d5a1191d.310088","type":"linetoken","z":"","name":"Line"},{"id":"657cb23f.9b827c","type":"mqtt-broker","z":"","broker":"192.168.24.2","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"af71959e.ef4a48","type":"ui_group","z":"","name":"Default","tab":"c942a032.9c972","order":1,"disp":true,"width":"6"},{"id":"7f01b16a.9ae61","type":"mqtt-broker","z":"","broker":"192.168.24.2","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c942a032.9c972","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":8,"disabled":true,"hidden":true},{"id":"aba25c56.0bfa3","type":"mqtt in","z":"64280a6c.6ad9b4","name":"","topic":"kpt/esp","qos":"2","datatype":"auto","broker":"61a258f4.17b758","x":170,"y":260,"wires":[["69d199fe.e13998","319167f3.d45278"]]},{"id":"3d560b41.9dcf54","type":"debug","z":"64280a6c.6ad9b4","name":"MQTTInput","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":160,"wires":[]},{"id":"69d199fe.e13998","type":"switch","z":"64280a6c.6ad9b4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"S2","vt":"str"},{"t":"eq","v":"S3","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":260,"wires":[["c8436539.c17848"],[]]},{"id":"c8436539.c17848","type":"function","z":"64280a6c.6ad9b4","name":"","func":"cnt = flow.get('ProdCNT');\ncnt = cnt+1;\nflow.set('ProdCNT',cnt);\nmsg.payload = cnt;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":220,"wires":[["3d560b41.9dcf54","d6c1c729.90c828"]]},{"id":"5ca017fb.08d768","type":"function","z":"64280a6c.6ad9b4","name":"","func":"flow.set('ProdCNT',0);\n\nreadback = flow.get('ProdCNT');\n\n\nmsg.payload = readback;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":60,"wires":[["3d560b41.9dcf54","d6c1c729.90c828"]]},{"id":"1ed23515.43492b","type":"ui_button","z":"64280a6c.6ad9b4","name":"","group":"e5db5a39.476938","order":1,"width":0,"height":0,"passthru":false,"label":"Reset Product Counter","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":60,"wires":[["5ca017fb.08d768"]]},{"id":"d6c1c729.90c828","type":"ui_gauge","z":"64280a6c.6ad9b4","name":"","group":"a170a45e.95e1c8","order":1,"width":0,"height":0,"gtype":"gage","title":"Pieces","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":80,"wires":[]},{"id":"319167f3.d45278","type":"function","z":"64280a6c.6ad9b4","name":"","func":"msg.payload = Date(Date.now())\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":120,"wires":[["3d560b41.9dcf54"]]},{"id":"ae05d38e.5e021","type":"mqtt in","z":"92fd949e.a00d78","name":"","topic":"kpt/esp","qos":"2","datatype":"auto","broker":"6bb01050.fe42a","x":130,"y":380,"wires":[[]]},{"id":"7f3c78b3.25f6e8","type":"debug","z":"92fd949e.a00d78","name":"MQTTInput","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":160,"wires":[]},{"id":"563ef90e.b83668","type":"switch","z":"92fd949e.a00d78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"S2","vt":"str"},{"t":"eq","v":"S3","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":260,"wires":[["a0832313.62e95","8547858e.182c48"],["880cd9cb.dd6998"]]},{"id":"a0832313.62e95","type":"function","z":"92fd949e.a00d78","name":"Counter","func":"cnt = flow.get('ProdCNT');\ncnt = cnt+1;\nflow.set('ProdCNT',cnt);\n\nmsg.payload = cnt;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":220,"wires":[["7f3c78b3.25f6e8","3afd598f.f5ac46","66613654.1274e8"]]},{"id":"48add37c.d8364c","type":"function","z":"92fd949e.a00d78","name":"","func":"flow.set('ProdCNT',0);\n\nreadback = flow.get('ProdCNT');\n\n\nmsg.payload = readback;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":60,"wires":[["7f3c78b3.25f6e8","3afd598f.f5ac46"]]},{"id":"b5c8a0bc.1681","type":"ui_button","z":"92fd949e.a00d78","name":"","group":"e5db5a39.476938","order":0,"width":0,"height":0,"passthru":false,"label":"Reset Product Counter","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":60,"wires":[["48add37c.d8364c"]]},{"id":"3afd598f.f5ac46","type":"ui_gauge","z":"92fd949e.a00d78","name":"","group":"a170a45e.95e1c8","order":0,"width":0,"height":0,"gtype":"gage","title":"Pieces","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":80,"wires":[]},{"id":"57430db1.962314","type":"function","z":"92fd949e.a00d78","name":"","func":"msg.payload = Date(Date.now())\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":120,"wires":[["611dd77d.43bb28"]]},{"id":"880cd9cb.dd6998","type":"function","z":"92fd949e.a00d78","name":"Breakdown","func":"cnt = flow.get('ProdCNT');\ncnt = cnt+1;\nflow.set('ProdCNT',cnt);\n\nmsg.payload = cnt.toString;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":400,"wires":[[]]},{"id":"611dd77d.43bb28","type":"GSheet","z":"92fd949e.a00d78","creds":"e168c54b.a4c9d8","method":"clear","action":"","sheet":"1Al9EFnvCUkINd36xaKY_eHtQQhcujQLTOOfeUuj2V1g","cells":"Sheet1!A2","name":"WriteTimeStamp","x":790,"y":240,"wires":[[]]},{"id":"7c53f457.6c1e9c","type":"mqtt in","z":"92fd949e.a00d78","name":"","topic":"abk/shout","qos":"2","datatype":"auto","broker":"a10f47fb.0bc498","x":140,"y":260,"wires":[["57430db1.962314","563ef90e.b83668"]]},{"id":"8547858e.182c48","type":"GSheet","z":"92fd949e.a00d78","creds":"e168c54b.a4c9d8","method":"clear","action":"","sheet":"1Al9EFnvCUkINd36xaKY_eHtQQhcujQLTOOfeUuj2V1g","cells":"Sheet1!B2","name":"WriteStatus","x":770,"y":300,"wires":[[]]},{"id":"66613654.1274e8","type":"GSheet","z":"92fd949e.a00d78","creds":"e168c54b.a4c9d8","method":"clear","action":"","sheet":"1Al9EFnvCUkINd36xaKY_eHtQQhcujQLTOOfeUuj2V1g","cells":"Sheet1!C2","name":"WriteValue","x":770,"y":360,"wires":[[]]},{"id":"330f9043.4c06b","type":"debug","z":"4c3d12fd.031e5c","name":"Debug_Count","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":160,"wires":[]},{"id":"c3fb6909.fc2208","type":"switch","z":"4c3d12fd.031e5c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"START1","vt":"str"},{"t":"eq","v":"START2","vt":"str"},{"t":"eq","v":"STOP","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":330,"y":300,"wires":[["29fac6a4.8e71ba"],["6774724f.5652ec"],["b7b3f8d1.636f78","cdc68764.73f718","b15912b7.00371"]]},{"id":"29fac6a4.8e71ba","type":"function","z":"4c3d12fd.031e5c","name":"Count_Table1","func":"cnt1 = flow.get('cnt1')||0;\ncnt1 = cnt1+1;\nflow.set('cnt1',cnt1);\n\nmsg.topic = \"โต๊ะ 1\";\nmsg.payload = parseInt(cnt1);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":228.99999809265137,"wires":[["786f07db.ef1ec8","4b05bf64.8954","8ae6226d.3035f","6f862b1d.49db94","330f9043.4c06b","9033632.d7962a","e05a9ee.4b5c16","aa57d28a.5b578"]]},{"id":"b15912b7.00371","type":"function","z":"4c3d12fd.031e5c","name":"Fn Reset","func":"flow.set('cnt1',0);\nreadback = flow.get('cnt1');\n\nmsg.topic = \"โต๊ะ 1\";\nmsg.payload = readback;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":40,"wires":[["de09208.4bd34e","786f07db.ef1ec8","4b05bf64.8954","9033632.d7962a","e05a9ee.4b5c16","37ad9e2e.99c3c2"]]},{"id":"bf155e4f.ae76e","type":"ui_button","z":"4c3d12fd.031e5c","name":"Reset Table 1","group":"b7e059bd.7dc778","order":1,"width":0,"height":0,"passthru":false,"label":"Click to Reset","tooltip":"Reset Table 1","color":"","bgcolor":"0","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":40,"wires":[["b15912b7.00371"]]},{"id":"de09208.4bd34e","type":"ui_gauge","z":"4c3d12fd.031e5c","name":"Total Pieces","group":"8d8e61b.9c93ca","order":1,"width":0,"height":0,"gtype":"wave","title":"Total Pieces (Max 200)","label":" ชิ้น","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1090,"y":240,"wires":[]},{"id":"b7b3f8d1.636f78","type":"function","z":"4c3d12fd.031e5c","name":"Stop1","func":"cnt = flow.get('cnt1')||0;\nflow.set('cnt1',cnt);\n\nmsg.topic = \"โต๊ะ 1\";\nmsg.payload = String(\"โต๊ะที่ 1 เสร็จสิ้นงานและผลิตได้ทั้งหมด \"+cnt+\" ชิ้น\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":340,"wires":[["771c77a8.62da98"]]},{"id":"eb1eeb2c.61dd28","type":"mqtt in","z":"4c3d12fd.031e5c","name":"","topic":"atthana/shout","qos":"2","datatype":"auto","broker":"61a258f4.17b758","x":130,"y":160,"wires":[["c3fb6909.fc2208"]]},{"id":"ff9cb3c3.193f8","type":"inject","z":"4c3d12fd.031e5c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"START1","payloadType":"str","x":130,"y":240,"wires":[["c3fb6909.fc2208"]]},{"id":"ed9b80ef.d82f8","type":"mqtt in","z":"aa35ec2d.b49b3","name":"","topic":"kpt/esp","qos":"2","datatype":"auto","broker":"f764e53c.53b5d8","x":170,"y":260,"wires":[["d8bf9b18.7c74c8","fba254c4.1e6ad8"]]},{"id":"b90eaba1.d7b218","type":"debug","z":"aa35ec2d.b49b3","name":"MQTTInput","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":160,"wires":[]},{"id":"d8bf9b18.7c74c8","type":"switch","z":"aa35ec2d.b49b3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"S2","vt":"str"},{"t":"eq","v":"S3","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":260,"wires":[["3ecc5cbf.bbed74"],["a2aa3c59.0aff5"]]},{"id":"3ecc5cbf.bbed74","type":"function","z":"aa35ec2d.b49b3","name":"Counter","func":"cnt = flow.get('ProdCNT');\ncnt = cnt+1;\nflow.set('ProdCNT',cnt);\n\nmsg.payload = cnt;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":220,"wires":[["b90eaba1.d7b218","545436bd.535018","755efb12.d21bf4"]]},{"id":"108cddee.ee4612","type":"function","z":"aa35ec2d.b49b3","name":"","func":"flow.set('ProdCNT',0);\n\nreadback = flow.get('ProdCNT');\n\n\nmsg.payload = readback;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":60,"wires":[["b90eaba1.d7b218","755efb12.d21bf4"]]},{"id":"ecf1e585.75f5f8","type":"ui_button","z":"aa35ec2d.b49b3","name":"","group":"bdb8bfc2.1577c","order":0,"width":0,"height":0,"passthru":false,"label":"Reset Product Counter","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":60,"wires":[["108cddee.ee4612"]]},{"id":"755efb12.d21bf4","type":"ui_gauge","z":"aa35ec2d.b49b3","name":"","group":"60399256.6ba23c","order":0,"width":0,"height":0,"gtype":"gage","title":"Pieces","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":80,"wires":[]},{"id":"fba254c4.1e6ad8","type":"function","z":"aa35ec2d.b49b3","name":"","func":"msg.payload = Date(Date.now())\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":120,"wires":[[]]},{"id":"a2aa3c59.0aff5","type":"function","z":"aa35ec2d.b49b3","name":"Breakdown","func":"\ns = Date(Date.now()) + \",\" + \"S3\" + \",\" + 1;\n\nmsg.payload = s;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":300,"wires":[["a8addde3.a285c","34bc5591.56c4ea"]]},{"id":"a8addde3.a285c","type":"GSheet","z":"aa35ec2d.b49b3","creds":"1e245788.2c0538","method":"clear","action":"","sheet":"1Y6ul6IIXqmJ773HBE3QBHe1chYhcJefQovkxqpMgX8U","cells":"Sheet1!B1","name":"WriteStatus","x":950,"y":280,"wires":[[]]},{"id":"545436bd.535018","type":"function","z":"aa35ec2d.b49b3","name":"Counter to write","func":"cnt = flow.get('ProdCNT');\n\ns = Date(Date.now()) + \",\" + \"S2\" + \",\" + cnt\n\nmsg.payload = s;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":220,"wires":[["a8addde3.a285c","34bc5591.56c4ea"]]},{"id":"34bc5591.56c4ea","type":"file","z":"aa35ec2d.b49b3","name":"","filename":"mydata.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":960,"y":380,"wires":[[]]},{"id":"72369e26.4b644","type":"mqtt in","z":"aa35ec2d.b49b3","name":"","topic":"kpt/ana","qos":"2","datatype":"auto","broker":"f764e53c.53b5d8","x":170,"y":380,"wires":[["b794e6cc.3d2388"]]},{"id":"a0584dce.04f1f","type":"ui_gauge","z":"aa35ec2d.b49b3","name":"","group":"60399256.6ba23c","order":0,"width":0,"height":0,"gtype":"gage","title":"Analog","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":420,"wires":[]},{"id":"b794e6cc.3d2388","type":"range","z":"aa35ec2d.b49b3","minin":"0","maxin":"1024","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"","x":390,"y":440,"wires":[["a0584dce.04f1f","2ff2f671.4cba7a"]]},{"id":"2ff2f671.4cba7a","type":"ui_chart","z":"aa35ec2d.b49b3","name":"","group":"60399256.6ba23c","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":620,"y":500,"wires":[[]]},{"id":"fa9e1e48.6a835","type":"inject","z":"4c3d12fd.031e5c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"START2","payloadType":"str","x":130,"y":280,"wires":[["c3fb6909.fc2208"]]},{"id":"786f07db.ef1ec8","type":"ui_chart","z":"4c3d12fd.031e5c","name":"สินค้าต่อโต๊ะรวม","group":"8d8e61b.9c93ca","order":2,"width":6,"height":5,"label":"จำนวนสินค้าที่ผลิต / โต๊ะ","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"<no data>","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#39f3f3","#e02978","#ff7f0e","#2ca02c","#98df8a","#d62728","#e51fc1","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":800,"y":20,"wires":[[]]},{"id":"6774724f.5652ec","type":"function","z":"4c3d12fd.031e5c","name":"Count_Table2","func":"//cnt2 = flow.get('cnt2')||0;\n//cnt2 = cnt2+2;\n//flow.set('cnt2',cnt2);\n//msg.topic = \"โต๊ะ 2\";\n//msg.payload = cnt2;\n\n\ncnt2 = flow.get('cnt2')||0;\ncnt2 = cnt2+1;\nflow.set('cnt2',cnt2);\n\nmsg.topic = \"โต๊ะ 2\";\nmsg.payload = parseInt(cnt2);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":280,"wires":[["786f07db.ef1ec8","4b05bf64.8954","8ae6226d.3035f","816376ef.545b88","330f9043.4c06b","242a6b8a.4e7434","4bd19054.aa232","20c6496b.776dc6"]]},{"id":"c71f1ec7.c94e3","type":"inject","z":"64280a6c.6ad9b4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"S2","payloadType":"str","x":160,"y":360,"wires":[["69d199fe.e13998"]]},{"id":"4b05bf64.8954","type":"ui_chart","z":"4c3d12fd.031e5c","name":"กราฟเส้นรวม","group":"8d8e61b.9c93ca","order":3,"width":6,"height":5,"label":"กราฟเส้นแสดงจำนวน","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"cubic","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1db9a4","#e02878","#ff7f0e","#ffff00","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":810,"y":80,"wires":[[]]},{"id":"8ae6226d.3035f","type":"function","z":"4c3d12fd.031e5c","name":"SUM","func":"cnt1 = flow.get('cnt1')||0;\ncnt2 = flow.get('cnt2')||0;\nsum = cnt1+cnt2;\nflow.set('sum',sum);\nmsg.payload = sum;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":240,"wires":[["de09208.4bd34e"]]},{"id":"6f862b1d.49db94","type":"http request","z":"4c3d12fd.031e5c","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://docs.google.com/forms/d/e/1FAIpQLSeyfscdX63hPdBbsPJHWXtFXpir1CnDXGbrxwOm6pM2rWnOxw/formResponse?usp=pp_url&entry.345327848={{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":300,"wires":[[]]},{"id":"816376ef.545b88","type":"http request","z":"4c3d12fd.031e5c","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://docs.google.com/forms/d/e/1FAIpQLSf624E24LnNw8OT8bCJSzuNOx4CIP9s57B5wWuOYBgywRuK4A/formResponse?usp=pp_url&entry.1981583114={{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":340,"wires":[[]]},{"id":"235512f8.9273de","type":"function","z":"4c3d12fd.031e5c","name":"Fn Reset","func":"flow.set('cnt2',0);\nreadback = flow.get('cnt2');\n\nmsg.topic = \"โต๊ะ 2\";\nmsg.payload = readback;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":100,"wires":[["786f07db.ef1ec8","4b05bf64.8954","242a6b8a.4e7434","4bd19054.aa232","96375dc3.d846"]]},{"id":"7d595ae9.3b5e04","type":"ui_button","z":"4c3d12fd.031e5c","name":"Reset Table 2","group":"fa9ea743.426598","order":1,"width":0,"height":0,"passthru":false,"label":"CLICK TO RESET","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":100,"wires":[["235512f8.9273de"]]},{"id":"2c5e81.5836818","type":"ui_numeric","z":"4c3d12fd.031e5c","name":"เวลาแจ้งการเตือน 1","label":"เวลาแจ้งการเตือน (นาที)","tooltip":"","group":"b7e059bd.7dc778","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"threshold1","format":"{{value}}","min":0,"max":"30","step":1,"x":370,"y":480,"wires":[["37ad9e2e.99c3c2","3af933f9.65132c"]]},{"id":"9033632.d7962a","type":"ui_gauge","z":"4c3d12fd.031e5c","name":"Gauge 1","group":"b7e059bd.7dc778","order":4,"width":0,"height":0,"gtype":"donut","title":"จำนวนสินค้าจากโต๊ะที่ 1 ","label":"MAX 100","format":"{{value}}","min":0,"max":"100","colors":["#39f3f3","#39f3f3","#39f3f3"],"seg1":"250","seg2":"","x":1040,"y":20,"wires":[]},{"id":"242a6b8a.4e7434","type":"ui_gauge","z":"4c3d12fd.031e5c","name":"Gauge 2","group":"fa9ea743.426598","order":4,"width":0,"height":0,"gtype":"donut","title":"จำนวนสินค้าจากโต๊ะที่ 2","label":"MAX 100","format":"{{value}}","min":0,"max":"100","colors":["#e02878","#e02878","#e02878"],"seg1":"","seg2":"","x":1260,"y":20,"wires":[]},{"id":"96375dc3.d846","type":"ui_slider","z":"4c3d12fd.031e5c","name":"Slider 2","label":"Alert Timer (min)","tooltip":"","group":"fa9ea743.426598","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"30","step":"1","x":140,"y":540,"wires":[["a64f717d.45a89"]]},{"id":"a64f717d.45a89","type":"ui_numeric","z":"4c3d12fd.031e5c","name":"เวลาแจ้งการเตือน 2","label":"เวลาแจ้งการเตือน (นาที)","tooltip":"","group":"fa9ea743.426598","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"threshold2","format":"{{value}}","min":0,"max":"30","step":1,"x":370,"y":540,"wires":[["96375dc3.d846","fbd444cf.a5d0e8"]]},{"id":"e05a9ee.4b5c16","type":"ui_chart","z":"4c3d12fd.031e5c","name":"Graph 1","group":"b7e059bd.7dc778","order":5,"width":6,"height":6,"label":"Last 30 minutes","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#39f3f3","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1040,"y":80,"wires":[[]]},{"id":"4bd19054.aa232","type":"ui_chart","z":"4c3d12fd.031e5c","name":"Graph 2","group":"fa9ea743.426598","order":5,"width":6,"height":6,"label":"Last 30 minutes","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#e02878","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1260,"y":80,"wires":[[]]},{"id":"bbf22c1c.099ce","type":"ui_text","z":"4c3d12fd.031e5c","group":"b7e059bd.7dc778","order":6,"width":0,"height":0,"name":"Google Sheet1","label":"Google Sheet: ","format":"{{msg.payload}}","layout":"col-center","x":340,"y":620,"wires":[]},{"id":"56f7f960.173148","type":"inject","z":"4c3d12fd.031e5c","name":"URL 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"https://shorturl.at/cQRV2","payloadType":"str","x":130,"y":620,"wires":[["bbf22c1c.099ce"]]},{"id":"3798f92f.d498c6","type":"inject","z":"4c3d12fd.031e5c","name":"URL 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"https://shorturl.at/BWY04","payloadType":"str","x":130,"y":660,"wires":[["ff7e0b9c.59cdb8"]]},{"id":"ff7e0b9c.59cdb8","type":"ui_text","z":"4c3d12fd.031e5c","group":"fa9ea743.426598","order":6,"width":0,"height":0,"name":"Google Sheet2","label":"Google Sheet:","format":"{{msg.payload}}","layout":"col-center","x":340,"y":660,"wires":[]},{"id":"37ad9e2e.99c3c2","type":"ui_slider","z":"4c3d12fd.031e5c","name":"Slider 1","label":"Alert Timer (min)","tooltip":"","group":"b7e059bd.7dc778","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"TEST","min":0,"max":"30","step":"1","x":140,"y":480,"wires":[["2c5e81.5836818"]]},{"id":"cdc68764.73f718","type":"debug","z":"4c3d12fd.031e5c","name":"Debug MQTT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1100,"y":420,"wires":[]},{"id":"4aa87c4a.014a64","type":"mytimeout","z":"4c3d12fd.031e5c","name":"","outtopic":"1","outsafe":"","outwarning":"","outunsafe":"โต๊ะที่ 1 ทำงานไม่ได้ตามเป้า..โปรดตรวจสอบ","warning":"5","timer":"1800","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":990,"y":480,"wires":[["82b7dc39.17d84","b033a800.74add8"],[]],"outputLabels":["โต๊ะ 1 ไม่ได้ทำงาน",""]},{"id":"c71a8dc6.91cb6","type":"debug","z":"4c3d12fd.031e5c","name":"Threshold","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":980,"y":800,"wires":[]},{"id":"f6593fbb.f9e95","type":"mqtt in","z":"4c3d12fd.031e5c","name":"","topic":"atthana/end","qos":"2","datatype":"auto","broker":"61a258f4.17b758","x":130,"y":400,"wires":[["2c1296df.8c9baa"]]},{"id":"2c1296df.8c9baa","type":"function","z":"4c3d12fd.031e5c","name":"","func":"\ninput = flow.get('START');\nreturn input;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":400,"wires":[["cdc68764.73f718"]]},{"id":"771c77a8.62da98","type":"line-notify","z":"4c3d12fd.031e5c","name":"Line Notify","message":"","contentType":"message","imageThumbnail":"","imageUrl":"","sticker":"default","stickerPackageId":"1","stickerId":"1","silent":false,"creds":"d5a1191d.310088","x":690,"y":340,"wires":[[]]},{"id":"2bd28eb3.aadb32","type":"inject","z":"4c3d12fd.031e5c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"END","payloadType":"str","x":130,"y":320,"wires":[["c3fb6909.fc2208"]]},{"id":"82b7dc39.17d84","type":"line-notify","z":"4c3d12fd.031e5c","name":"Line Notify","message":"","contentType":"message","imageThumbnail":"","imageUrl":"","sticker":"default","stickerPackageId":"1","stickerId":"1","silent":false,"creds":"d5a1191d.310088","x":1250,"y":480,"wires":[[]]},{"id":"8ab66c4e.bd412","type":"mytimeout","z":"a7407eed.e4695","name":"","outtopic":"","outsafe":"on","outwarning":"Warning","outunsafe":"off","warning":"2","timer":"10","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":550,"y":200,"wires":[["670c43cc.79211c","4493e058.6744f","cc0a336d.098a4"],[]]},{"id":"84a784c.70ade78","type":"inject","z":"a7407eed.e4695","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":200,"wires":[["8ab66c4e.bd412"]]},{"id":"670c43cc.79211c","type":"debug","z":"a7407eed.e4695","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":280,"wires":[]},{"id":"4493e058.6744f","type":"function","z":"a7407eed.e4695","name":"","func":"if(msg.payload == \"off\"){\n msg.payload = \"ส่งข้อมูลให้ LINE\";\n return msg;\n}","outputs":1,"noerr":0,"x":730,"y":200,"wires":[["3ef3243b.9a39cc"]]},{"id":"3ef3243b.9a39cc","type":"debug","z":"a7407eed.e4695","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":200,"wires":[]},{"id":"cc0a336d.098a4","type":"delay","z":"a7407eed.e4695","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":80,"wires":[["8ab66c4e.bd412"]]},{"id":"dccbb25c.88ecd","type":"comment","z":"a7407eed.e4695","name":"ตั้งค่าเวลาเป็น 2 เท่าของเวลาที่ตั้งให้กับ mytimeout","info":"","x":860,"y":60,"wires":[]},{"id":"53b77087.9a3c5","type":"comment","z":"a7407eed.e4695","name":"mytimeout ตั้งค่าไว้ที่ 10 วินาที","info":"","x":540,"y":260,"wires":[]},{"id":"e9df92cd.5c4fe","type":"comment","z":"a7407eed.e4695","name":"delay ตั้งเป็น 2 เท่าคือ 20 วินาที","info":"","x":800,"y":100,"wires":[]},{"id":"aa6b3220.5caf9","type":"comment","z":"a7407eed.e4695","name":"ข้อมูลยิงเข้า input ของ mytimeout","info":"","x":350,"y":160,"wires":[]},{"id":"46276211.f3d9dc","type":"mqtt out","z":"a7407eed.e4695","name":"Sleep button","topic":"home/device/sleep","qos":"0","retain":"false","broker":"657cb23f.9b827c","x":630,"y":640,"wires":[]},{"id":"511886f0.60d488","type":"comment","z":"a7407eed.e4695","name":"Momentary Push Button","info":"","x":217.5,"y":593.5000190734863,"wires":[]},{"id":"732854c8.bc4f1c","type":"ui_button","z":"a7407eed.e4695","name":"","group":"af71959e.ef4a48","order":2,"width":0,"height":0,"passthru":false,"label":"- Sleep -","color":"black","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"","x":179,"y":639,"wires":[["e4920e9.e501cf"]]},{"id":"2edcc42.b730f3c","type":"ui_template","z":"a7407eed.e4695","group":"af71959e.ef4a48","name":"Timer Dial","order":1,"width":"3","height":"3","format":"<style>\n    .nr-dashboard-template {\n        padding: 0;\n        margin: 0;\n        overflow-x: hidden;\n        overflow-y: hidden;\n}\n</style>\n\n<script src=\"/myjs/jquery.knob.min.js\"></script>\n \n<script>\n    // https://tech.scargill.net/more-dashboard-goodness/\n    (function(scope){\n        scope.$watch('msg', function(data) {\n            scope.msgSend = false;\n            $(\"#jqueryknob\" + scope.$id).val(data.payload);\n            $(\"#jqueryknob\" + scope.$id).change();\n            scope.msgSend = true;\n        });\n        scope.msgSend = true;\n        scope.value = 0;\n        scope.sendData = function(data){scope.send({payload:data})};   \n        scope.init= function(){\n            $(\"#jqueryknob\" + scope.$id).knob({\n                change : function (value) {\n                    //console.log(\"change: \" + value);\n                },\n                release : function (value) { \n                    if(scope.msgSend)scope.sendData(value);\n                },\n                cancel : function () {\n                },\n                draw : function () { }\n            }); \n        }\n        //Wait for angular to assign id to DOM element\n        setTimeout(function(){\n            scope.init();\n        },200)\n    })(scope);\n      \n</script>\n \n<input  id=\"jqueryknob{{$id}}\"\n        style=\"margin-left:auto;margin-right:auto;\"\n        class=\"cDial1\"\n        data-width=\"150\"\n        data-min=1\n        data-max=255\n        data-cursor=false\n        data-thickness=.4\n        data-fgColor=\"chartreuse\"\n        data-linecap=round\n        value=\"{{msg.payload ?  msg.payload : 1}}\"\n>\n<!--\n<input  id=\"jqueryknob{{$id}}\"\n        class=\"cDial1\"\n        data-width=\"98%\"\n        data-height=\"98%\" \n        data-cursor=true\n        data-thickness=.4\n        data-linecap=round\n        value=\"{{msg.payload ?  msg.payload : 0}}\"\n>\n-->","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":384,"y":418,"wires":[["9029f7c4.488558","63b025e3.84fe1c","90c94552.e6b228"]]},{"id":"9029f7c4.488558","type":"mqtt out","z":"a7407eed.e4695","name":"switchTimerValue","topic":"home/virtual/switchTimerValue","qos":"0","retain":"true","broker":"7f01b16a.9ae61","x":651,"y":478,"wires":[]},{"id":"63b025e3.84fe1c","type":"debug","z":"a7407eed.e4695","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":634,"y":364,"wires":[]},{"id":"b1425286.06b09","type":"comment","z":"a7407eed.e4695","name":"Timer Minutes","info":"","x":187.50003814697266,"y":360.7500171661377,"wires":[]},{"id":"88b0b6b4.fca048","type":"debug","z":"a7407eed.e4695","name":"Sleep-n-Warning","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":591,"wires":[]},{"id":"90c94552.e6b228","type":"function","z":"a7407eed.e4695","name":"Set Timer Minutes*60","func":"global.set('timerMin', msg.payload * 60); // seconds to minutes\nreturn msg;","outputs":1,"noerr":0,"x":663.0000076293945,"y":419.0000286102295,"wires":[[]]},{"id":"eaf9fde5.150a3","type":"function","z":"a7407eed.e4695","name":"Set Warning Minutes","func":"global.set('warningMin', msg.payload * 60 ); // seconds to minutes\nreturn msg;","outputs":1,"noerr":0,"x":659.0000076293945,"y":544.2500247955322,"wires":[[]]},{"id":"e4920e9.e501cf","type":"function","z":"a7407eed.e4695","name":"Get global Time settings","func":"// Need to change the on to\n// { \"payload\": \"on\", \"timeout\": 690, \"warning\": 100 }\n\nif(msg.payload == \"on\") {\n    msg.payload = { \n        \"payload\": \"on\", \n        \"timeout\":   global.get('timerMin')||600,\n        \"warning\": global.get('warningMin')||150\n    };\n\n    return msg;\n}\n","outputs":1,"noerr":0,"x":389,"y":639.5999755859375,"wires":[["46276211.f3d9dc","88b0b6b4.fca048"]]},{"id":"34d2f9a1.8fdae6","type":"ui_template","z":"a7407eed.e4695","group":"af71959e.ef4a48","name":"Warning","order":14,"width":"3","height":"3","format":"<style>\n    .nr-dashboard-template {\n        padding: 0;\n        margin: 0;\n        overflow-x: hidden;\n        overflow-y: hidden;\n}\n</style>\n\n<script src=\"/myjs/jquery.knob.min.js\"></script>\n \n<script>\n    // https://tech.scargill.net/more-dashboard-goodness/\n    (function(scope){\n        scope.$watch('msg', function(data) {\n            scope.msgSend = false;\n            $(\"#jqueryknob\" + scope.$id).val(data.payload);\n            $(\"#jqueryknob\" + scope.$id).change();\n            scope.msgSend = true;\n        });\n        scope.msgSend = true;\n        scope.value = 0;\n        scope.sendData = function(data){scope.send({payload:data})};   \n        scope.init= function(){\n            $(\"#jqueryknob\" + scope.$id).knob({\n                change : function (value) {\n                    //console.log(\"change: \" + value);\n                },\n                release : function (value) { \n                    if(scope.msgSend)scope.sendData(value);\n                },\n                cancel : function () {\n                },\n                draw : function () { }\n            }); \n        }\n        //Wait for angular to assign id to DOM element\n        setTimeout(function(){\n            scope.init();\n        },200)\n    })(scope);\n      \n</script>\n \n<input  id=\"jqueryknob{{$id}}\"\n        style=\"margin-left:auto;margin-right:auto;\"\n        class=\"cDial1\"\n        data-width=\"150\"\n        data-min=1\n        data-max=255\n        data-cursor=true\n        data-thickness=.3\n        data-fgColor=\"yellow\"\n        data-linecap=round\n        value=\"{{msg.payload ?  msg.payload : 1}}\"\n>\n--><div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":385.10003662109375,"y":544.5999755859375,"wires":[["88b0b6b4.fca048","eaf9fde5.150a3"]]},{"id":"7d09ea8f.a75314","type":"inject","z":"a7407eed.e4695","name":"","props":[{"p":"payload","v":"60","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"topic":"","payload":"60","payloadType":"str","x":188.77999877929688,"y":417.1600036621094,"wires":[["2edcc42.b730f3c"]]},{"id":"9002c5b4.23e208","type":"inject","z":"a7407eed.e4695","name":"","repeat":"","crontab":"","once":true,"topic":"","payload":"30","payloadType":"str","x":187.77999877929688,"y":543.1600151062012,"wires":[["34d2f9a1.8fdae6"]]},{"id":"ab72ba8d.485368","type":"comment","z":"a7407eed.e4695","name":"Warning Minutes","info":"","x":195.5,"y":483.5,"wires":[]},{"id":"cf738fe8.3866f","type":"ui_switch","z":"a7407eed.e4695","name":"","label":"Timer","group":"af71959e.ef4a48","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":422.5,"y":905.7500171661377,"wires":[["cecb67f5.e9feb8"]]},{"id":"ee0f6d14.2ec51","type":"mqtt in","z":"a7407eed.e4695","name":"switchTimer","topic":"home/virtual/switchTimer","qos":"0","broker":"7f01b16a.9ae61","x":185.83334011501734,"y":966.4167041778564,"wires":[["cf738fe8.3866f","a87037c0.f182d8","86f78d80.b087e","9813a180.e8283"]]},{"id":"73fe06a5.91eba8","type":"mqtt out","z":"a7407eed.e4695","name":"switchTimer","topic":"home/virtual/switchTimer","qos":"0","retain":"false","broker":"7f01b16a.9ae61","x":1034.5,"y":960.7500171661377,"wires":[]},{"id":"bc306e43.c665b","type":"debug","z":"a7407eed.e4695","name":"toMyTimerF","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":832.5,"y":906.7500171661377,"wires":[]},{"id":"88277690.4acbc8","type":"comment","z":"a7407eed.e4695","name":"Timer On/Off","info":"","x":181.5,"y":771.7500171661377,"wires":[]},{"id":"cecb67f5.e9feb8","type":"function","z":"a7407eed.e4695","name":"Get global time settings","func":"// Need to change the on to\n// { \"payload\": \"on\", \"timeout\": 69, \"warning\": 10 }\n\nif(msg.payload == \"on\") {\n    msg.payload = { \n        \"payload\": \"on\", \n        \"timeout\": global.get('timerMin'),\n        \"warning\": global.get('warningMin')\n    };\n} else {\n    msg.payload = {  \"payload\": \"off\" };\n}\nreturn msg;","outputs":1,"noerr":0,"x":608.5,"y":905.7500171661377,"wires":[["bc306e43.c665b","a87037c0.f182d8"]]},{"id":"86f78d80.b087e","type":"debug","z":"a7407eed.e4695","name":"switchTimerTopic2Timer","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":489.75000381469727,"y":840.5000286102295,"wires":[]},{"id":"a87037c0.f182d8","type":"mytimeout","z":"a7407eed.e4695","name":"My Timeout","outtopic":"","outsafe":"on","outwarning":"warning","outunsafe":"off","warning":"5","timer":"30","repeat":false,"again":false,"x":822.5,"y":966.7500171661377,"wires":[["73fe06a5.91eba8","e3b339d.1a087c8"],["d44355f4.3e0398"]]},{"id":"f023a7bd.57f178","type":"mqtt in","z":"a7407eed.e4695","name":"Sleep button","topic":"home/device/sleep","qos":"0","broker":"657cb23f.9b827c","x":185.75000762939453,"y":1035.7500305175781,"wires":[["a87037c0.f182d8"]]},{"id":"9813a180.e8283","type":"function","z":"a7407eed.e4695","name":"Devices list","func":"/*\n--------------------------------------------------------------------------------\nOkay a bit confusing but ...\nI've been sending only on 'on'/'off'/'warning' to the first output (I now have\n2).\n\nI want to create a list of device topics to send to. This list would be in a\nspecific order. And this function you take the 'msg.payload' off and build\na msg.list = [ 'nodeA', 'nodeB', 'nodeC' ] and unshift each as they are resent\nthrough a delay node on output 2. This would work down to none where the node\nwould stop sending.\n\nWe'll keep the on off support for now. Later I'll stop the on as the timer is\nmeant to turn off things not turn on things.\n\nTo talk to a specific topic we'll need the following format:\nmsg = {\n    payload:  string | buffer\n              most users prefer simple text payloads, but binary buffers can\n              also be published.\n    topic:    string\n              the MQTT topic to publish to.\n    qos:      number\n              0, fire and forget - 1, at least once - 2, once and once only.\n              Default 0.\n    retain:   boolean\n              set to true to retain the message on the broker.\n              Default false.\n}\n\nmsg = {\n    payload: \"off\",\n    topics: [ 't1', 't2', t3', 't4']\n}\n*/\n\nvar nMsg = {};\n\n//\n// NOTE: this is the device list (devices are listening on these topics)\n//\nvar topics = [\n    'home/test/DeviceA',\n    'home/test/DeviceB',\n    'home/test/DeviceC'\n];\n\nif(msg.topics === undefined) {\n    // Not sure what to do if it's not a string\n    if(false && typeof(msg.payload) == 'string') {\n        nMsg = JSON.parse(msg.payload);\n        // Not sure if I should check to see if it's on or off\n        // return [ nMsg, ];\n    } else {\n        nMsg = msg;\n    }\n\n    // the Payload remains untouched\n    nMsg['topic']  = topics.shift(); // pop a topic off the list\n    nMsg['topics'] = topics;         // save the rest for later\n\n    console.log(\"Out: \" + JSON.stringify(nMsg));\n    return [ nMsg, nMsg ];\n} else if(msg.topics.length) {\n    nMsg = msg;\n\n    nMsg['topic']  = msg.topics.shift(); // pop a topic off the list\n    nMsg['topics'] = msg.topics;         // save the rest for later\n\n    console.log(\"Out: \" + JSON.stringify(nMsg));\n    return [ nMsg, nMsg ];\n}\n","outputs":2,"noerr":0,"x":436.5,"y":722.7500171661377,"wires":[["66b1ca97.d52654","a69eb8ea.7a7578"],["b53f91ba.6a07e"]]},{"id":"b53f91ba.6a07e","type":"delay","z":"a7407eed.e4695","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":432.5,"y":791.7500171661377,"wires":[["9813a180.e8283"]]},{"id":"66b1ca97.d52654","type":"debug","z":"a7407eed.e4695","name":"Delay loop","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":724.5,"y":715.7500171661377,"wires":[]},{"id":"a69eb8ea.7a7578","type":"mqtt out","z":"a7407eed.e4695","name":"MQTT Devices","topic":"","qos":"","retain":"","broker":"7f01b16a.9ae61","x":738.5,"y":763.7500171661377,"wires":[]},{"id":"e3b339d.1a087c8","type":"debug","z":"a7407eed.e4695","name":"toSwitchTimer","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":1056,"y":1009.3500232696533,"wires":[]},{"id":"d44355f4.3e0398","type":"debug","z":"a7407eed.e4695","name":"ticks","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":1027.7000122070312,"y":1052.5500049591064,"wires":[]},{"id":"3dbb34ee.30112c","type":"ui_switch","z":"a7407eed.e4695","name":"","label":"DeviceA","group":"af71959e.ef4a48","order":9,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":500,"y":1180,"wires":[["707eb6c7.80f248"]]},{"id":"2ebd3323.22952c","type":"mqtt in","z":"a7407eed.e4695","name":"DeviceA topic","topic":"home/test/DeviceA","qos":"1","broker":"7f01b16a.9ae61","x":180.33334011501734,"y":1179.6666870117188,"wires":[["3dbb34ee.30112c"]]},{"id":"707eb6c7.80f248","type":"mqtt out","z":"a7407eed.e4695","name":"DeviceA topic","topic":"home/test/DeviceA","qos":"0","retain":"true","broker":"7f01b16a.9ae61","x":858,"y":1180,"wires":[]},{"id":"89f24bae.d9d018","type":"ui_switch","z":"a7407eed.e4695","name":"","label":"DeviceB","group":"af71959e.ef4a48","order":10,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":500,"y":1238,"wires":[["2b011ed3.1d0b52"]]},{"id":"cbd77264.ec106","type":"mqtt in","z":"a7407eed.e4695","name":"DeviceB topic","topic":"home/test/DeviceB","qos":"1","broker":"7f01b16a.9ae61","x":181.33334011501734,"y":1237.6666870117188,"wires":[["89f24bae.d9d018"]]},{"id":"2b011ed3.1d0b52","type":"mqtt out","z":"a7407eed.e4695","name":"DeviceB topic","topic":"home/test/DeviceB","qos":"0","retain":"true","broker":"7f01b16a.9ae61","x":858,"y":1238,"wires":[]},{"id":"682cff12.8d9a8","type":"ui_switch","z":"a7407eed.e4695","name":"","label":"DeviceC","group":"af71959e.ef4a48","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":499.66665988498266,"y":1296,"wires":[["2e70278c.f119d8"]]},{"id":"80536987.7d0028","type":"mqtt in","z":"a7407eed.e4695","name":"DeviceC topic","topic":"home/test/DeviceC","qos":"0","broker":"7f01b16a.9ae61","x":181,"y":1295.6666870117188,"wires":[["682cff12.8d9a8"]]},{"id":"2e70278c.f119d8","type":"mqtt out","z":"a7407eed.e4695","name":"DeviceC topic","topic":"home/test/DeviceC","qos":"0","retain":"false","broker":"7f01b16a.9ae61","x":858.6666598849827,"y":1296,"wires":[]},{"id":"267c7511.985b8a","type":"comment","z":"a7407eed.e4695","name":"Device Switches","info":"","x":189.75,"y":1126.5,"wires":[]},{"id":"e7d85761.b545c8","type":"inject","z":"bb0eec73.7a2e6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":100,"wires":[["54059e12.5211"]]},{"id":"54059e12.5211","type":"function","z":"bb0eec73.7a2e6","name":"","func":"msg.payload = {};\nmsg.payload.temperature = parseInt(Math.random() * 100);\nmsg.payload.humidity = parseInt(Math.random() * 100);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":100,"wires":[["4a8945f3.5f21ac","4ebeede6.91b4c4"]]},{"id":"4a8945f3.5f21ac","type":"http request","z":"bb0eec73.7a2e6","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://docs.google.com/forms/d/e/1FAIpQLSeyfscdX63hPdBbsPJHWXtFXpir1CnDXGbrxwOm6pM2rWnOxw/formResponse?usp=pp_url&entry.345327848={{payload.temperature}}&entry.1603368024={{payload.humidity}}","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":200,"wires":[["f6c7cfd0.9f6ef"]]},{"id":"f6c7cfd0.9f6ef","type":"debug","z":"bb0eec73.7a2e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":200,"wires":[]},{"id":"4ebeede6.91b4c4","type":"debug","z":"bb0eec73.7a2e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.temperature","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":40,"wires":[]},{"id":"4b174fc5.82bc3","type":"inject","z":"d977f9f9.817368","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"num","x":130,"y":120,"wires":[["3fa44d5c.49c032"]]},{"id":"3fa44d5c.49c032","type":"switch","z":"d977f9f9.817368","name":"between 4 and 10 ?","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"4","vt":"num","v2":"10","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":120,"wires":[["173d6210.ea337e"],["9d92f126.d7fa3"]]},{"id":"209998a9.34a728","type":"inject","z":"d977f9f9.817368","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"11","payloadType":"num","x":130,"y":160,"wires":[["3fa44d5c.49c032"]]},{"id":"173d6210.ea337e","type":"trigger","z":"d977f9f9.817368","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","outputs":1,"x":710,"y":100,"wires":[["58bbbe33.d229"]]},{"id":"56138ec4.18cbc","type":"inject","z":"d977f9f9.817368","name":"","props":[{"p":"payload","v":"7","vt":"num"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"7","payloadType":"num","x":130,"y":80,"wires":[["3fa44d5c.49c032"]]},{"id":"58bbbe33.d229","type":"debug","z":"d977f9f9.817368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":95,"wires":[]},{"id":"9d92f126.d7fa3","type":"change","z":"d977f9f9.817368","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":160,"wires":[["173d6210.ea337e"]]},{"id":"592674c7.c578cc","type":"mytimeout","z":"d977f9f9.817368","name":"","outtopic":"1","outsafe":"START1","outwarning":"","outunsafe":"off","warning":"5","timer":"10","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":390,"y":340,"wires":[["bfc0fa6c.718ca8","eeb28338.68015"],["f4973624.ef0068"]],"outputLabels":["โต๊ะ 1 ไม่ได้ทำงาน",""]},{"id":"bfc0fa6c.718ca8","type":"debug","z":"d977f9f9.817368","name":"test","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":340,"wires":[]},{"id":"f4973624.ef0068","type":"debug","z":"d977f9f9.817368","name":"test2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":400,"wires":[]},{"id":"860ed59b.2c69a8","type":"inject","z":"d977f9f9.817368","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"payload\": \"on\", \"timeout\": 3600, \"warning\": 300 }","payloadType":"json","x":190,"y":340,"wires":[["592674c7.c578cc"]],"outputLabels":["{ \"payload\": \"on\", \"timeout\": 3600, \"warning\": 300 }"]},{"id":"eeb28338.68015","type":"line-notify","z":"d977f9f9.817368","name":"Line Notify","message":"","contentType":"message","imageThumbnail":"","imageUrl":"","sticker":"default","stickerPackageId":"1","stickerId":"1","silent":false,"creds":"d5a1191d.310088","x":630,"y":280,"wires":[[]]},{"id":"48a6d2.e93f793","type":"function","z":"d977f9f9.817368","name":"","func":"var threshold = context.get(\"threshold1\") || 0; //get from context or default to 0\nvar count = context.get(\"count1\") || 0; //get from context or default to 0\n\nswitch (msg.topic){\n    case \"threshold1\":\n        threshold = parseInt(msg.payload); \n        context.set(\"threshold1\", threshold); //store in context for next time \n        break;\n    case \"โต๊ะ 1\":\n        count = parseInt(msg.payload); //payload NOT paydoad  :)\n        context.set(\"count1\", count); //store in context for next time \n        break;\n}\n\n\nif (threshold !== 0) {\n    if (count > threshold) {\n        msg.payload = String('Table 1 threshold is reach '+count)\n    }\n} else {\n    msg.payload = String(threshold + count)\n}\n \n//msg.topic = \"go\";\n//msg.payload = threshold + count;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":440,"wires":[[]]},{"id":"b033a800.74add8","type":"delay","z":"4c3d12fd.031e5c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":560,"wires":[["4aa87c4a.014a64"]]},{"id":"3af933f9.65132c","type":"function","z":"4c3d12fd.031e5c","name":"Sec to Min","func":"msg.timeout = parseInt(msg.payload * 60); \n//msg.timeout = parseInt(msg.payload); \n\nif (msg.timeout === 0) {\n   msg.payload = String('cancel')\n} \n\nflow.set(\"alert1\", msg.timeout)\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":480,"wires":[["4aa87c4a.014a64"]]},{"id":"fbd444cf.a5d0e8","type":"function","z":"4c3d12fd.031e5c","name":"Sec to Min","func":"msg.timeout = parseInt(msg.payload * 60); \n//msg.timeout = parseInt(msg.payload); \n\n\nif (msg.timeout === 0) {\n   msg.payload = String('cancel')\n} \n\nflow.set(\"alert2\", msg.timeout)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":640,"wires":[["1dc8a465.c7cdfc"]]},{"id":"1dc8a465.c7cdfc","type":"mytimeout","z":"4c3d12fd.031e5c","name":"","outtopic":"1","outsafe":"","outwarning":"","outunsafe":"โต๊ะที่ 2 ทำงานไม่ได้ตามเป้า..โปรดตรวจสอบ","warning":"5","timer":"1800","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":990,"y":640,"wires":[["82b7dc39.17d84","e7034f69.4b2d4"],[]],"outputLabels":["โต๊ะ 1 ไม่ได้ทำงาน",""]},{"id":"e7034f69.4b2d4","type":"delay","z":"4c3d12fd.031e5c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":720,"wires":[["1dc8a465.c7cdfc"]]},{"id":"aa57d28a.5b578","type":"function","z":"4c3d12fd.031e5c","name":"Reset_Timer1","func":"var timeout = flow.get(\"alert1\")||0;\n\nif (timeout === 0) {\n   msg.payload = String('cancel')\n   //msg.payload = context.get(\"alert1\") \n} else\n{\n    msg.payload = flow.get(\"alert1\") \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":440,"wires":[["4aa87c4a.014a64","c71a8dc6.91cb6"]]},{"id":"20c6496b.776dc6","type":"function","z":"4c3d12fd.031e5c","name":"Reset_Timer2","func":"var timeout = flow.get(\"alert2\")||0;\n\nif (timeout === 0) {\n   msg.payload = String('cancel')\n   //msg.payload = context.get(\"alert2\") \n} else\n{\n    msg.payload = flow.get(\"alert2\") \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":560,"wires":[["1dc8a465.c7cdfc","c71a8dc6.91cb6"]]}]